.card-product-container {
    display: grid;
    position: relative;
}

#card-product {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: var(--border-radius-m);
    transition: all 150ms ease-in ;
    overflow: hidden;
}

:has(.card__button) #card-product {
    border-radius: var(--border-radius-m) var(--border-radius-m) 0 0;
    border: 1px solid black;
    border-bottom: 0;
}

#card-product:active {
    transform: scale(.98);
}

#card-product .dark {
    background: var(--secondary-background-color-light);
    color: var(--text-secondary-color)
}

#card-product:hover img {
    transform: scale(1.04);
}

.card__img-container {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: start;
    aspect-ratio: 10/7;

}

.card__img-container img {   
    max-width: 100%;
    height: auto;
    object-fit: cover;
    transition: all 150ms ease-in;
    aspect-ratio: 10/7;
}

.card__content-wrapper {
    display: grid;
    grid-template-rows: 5rem 8rem auto;
    justify-content: space-between;
    align-items: start;
    height: auto;
    padding: 1rem;
    gap: 0.5rem;
}

.card-header {
    font-family: "GintoRounded_NordBoldItalic";
    padding: 0;
    font-size: 1.1rem;
    line-height: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card-body p {
    font-size: 0.9rem;
    padding: 0;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.card__price-container {
    font-family: "GintoRounded_Medium";
    color: var(--text-price-color);
    margin-bottom: 0.9rem;
    margin-top: 1rem;
    display: flex;
    flex-direction:  column;
    gap: 1.5rem;
}

.card__button {
    width: 100%;
    border-radius: 0 0 var(--border-radius-m) var(--border-radius-m);
    transition: all 150ms ease-in;
    border: 1px solid black;

}

.card__button:active {
    transform: none;
    background-color: var(--info-color);
    transition: all 100ms ease-in;
}

#card-product:active~.card__button {
    transform:  scale(.98) translateY(-6px);
} 
