#error-page {
    margin: 5rem auto 0;
    padding: 2rem;
    height: 100%;
    min-height: 80dvh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}