.header__nav-icons {
    width: 1.4rem;
    height: 1.4rem;
}

.header__nav-list {
    display: flex;
    gap: 1rem;
}

.header__nav-link {
    position: relative;
    color: var(--text-primary-color);
}

.header__nav-item:active {
    transform: scale(.95);
}

.header__nav-icons {
    width: 1.4rem;
    height: 1.4rem;
}

.cart__counter {
    position: absolute;
    left: -0.2rem;
    bottom: -0.2rem;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--button-background-color);
    border-radius: var(--border-radius-xl);
    font-size: 0.9rem
}

.header__nav-link:hover .cart__counter {
    color: var(--text-primary-color);
    background-color: var(--button-background-color-hover);
}
