
@font-face {
  font-family: "GintoRounded_Medium";
  src: url("assets/fonts/ABCGintoRounded-Medium-Trial.woff2") format("woff2");
}

@font-face {
  font-family: "GintoRounded_MediumItalic";
  src: url("assets/fonts/ABCGintoRounded-MediumItalic-Trial.woff2") format("woff2");
}

@font-face {
  font-family: "GintoRounded_Light";
  src: url("assets/fonts/ABCGintoRounded-Light-Trial.woff2") format("woff2");
}

@font-face {
  font-family: "GintoRounded_LightItalic";
  src: url("assets/fonts/ABCGintoRounded-LightItalic-Trial.woff2") format("woff2");
}

@font-face {
  font-family: "GintoRounded_NordBoldItalic";
  src: url("assets/fonts/ABCGintoRoundedNord-BoldItalic-Trial.woff2") format("woff2");
}

:root {
  font-family: "GintoRounded_Light", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;

  color-scheme: light dark;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --max-width: 1580px;
  --border-radius-xs: 5px;
  --border-radius-s: 10px;
  --border-radius-m: 15px;
  --border-radius-l: 20px;
  --border-radius-xl: 25px;

  --primary-background-color:rgba(255, 255, 255, 0.745);
  --primary-background-color-dark:rgb(229 231 235);
  --secondary-background-color: #242424;
  --secondary-background-color-light: #353535;
  --secondary-background-color-lightest: #535151;
  --contrast-background-color:  rgb(156 163 175);
  --info-color: #f0ad4e;
  --text-primary-color:rgb(250, 250, 242);
  --text-price-color: #3147ea;
  --text-secondary-color: #242424;
  --button-background-color: #3147ea;
  --button-background-color-hover:  #2031ab; 
}

.dark {
  --text-primary-color: #ffffff;
  --text-secondary-color: rgba(250, 250, 242, 0.87);
  --text-price-color: #f98e36;
  --primary-background-color-dark:rgb(109, 112, 116);
  --secondary-background-color: #242424;
  --secondary-background-color-light: #1F1F1F;
  --secondary-background-color-lightest: #353535;
  --secondary-background-color-contrast: #2C2C2C;
  --contrast-background-color: #876767;
  --button-background-color: #f98e36;
  --button-background-color-hover:  #f5773d; 

  background-color: var(--secondary-background-color-lightest);
}

* {
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;

}

html {
  font-size: 16px;
  max-width: var(--max-width);
  margin: 0 auto;
}

body {
  width: 100% ;
  min-height: 100dvh;
	line-height: 1;
  background-color: var(--primary-background-color);
}

ol, ul {
	list-style: none;
}


h1, h2, h3, h4 {
  text-wrap: balance;
}

h1,
.header1 {
    font-size: 3.5rem;
    font-weight: 900;
}

h2,
.header2 {
    font-size: 2.5rem;
    font-weight: 700;
}

h3,
.header3 {
    font-size: 2rem;
    font-weight: 700;
}

h4,
.header4 {
    font-size: 1.5rem;
    font-weight: 700;
}

h5,
.header5 {
    font-size: 1.25rem;
    font-weight: 700;
}

h6,
.header6 {
    font-size: 1rem;
    font-weight: 700;
}

p {
    font-size: 1rem;
    text-wrap: pretty;
}

small {
    font-size: .8rem
}

b {
    font-weight: 700
}

i {
    font-style: italic
}

ul.decorated li:before {
    color: var(--text-secondary-color);
}

a {
    text-decoration: none;
    color: var(--text-secondary-color);
}






